body {
    font-family: Arial, sans-serif;
    background-color: #007bff;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-image 0.5s ease;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #333;
}

form {
    margin: 20px 0;
}

textarea {
    width: 100%;
    max-width: 700px;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box; 
}

button[type="submit"] {
    width: 100%;
    max-width: 700px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: auto;
}

button[type="submit"]:hover {
    background-color: #218838;
}

.translation-container {
    width: 100%;
    max-width: 700px;
    margin: 20px auto; 
}

.translation {
    display: none;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
    margin: auto; 
}

.translation.active {
    display: block;
}

h2 {
    font-size: 28px;
    color: #333;
}

p {
    font-size: 18px;
    color: #555;
}

#nextBtn {
    width: 100%;
    max-width: 700px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 20px auto 0; 
}

#nextBtn:hover {
    background-color: #0056b3;
}

.small-image-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.small-image-container img {
    width: 80px;
    height: auto;
}